:root{
    --primary-color : #4A1D77;
    --primary-color-deactivated : #9475b4;
    --btn-color-activated : #1D771D;
    --btn-color-deactivated: #A9F3A9;
    --background-color : white;
    --card-bg: #EDEDED;
    --color-text: white;
    --color-text-primary: black;
}

.container{
    width: 100%;
    height: 100vh;
    /* background-color: yellow; */
}

.header{
    /* background-color: var(--primary-color); */
    display: grid;
    grid-template-columns: 1fr 350px;
    align-items: center;
    padding: 5px;

    margin-bottom: 30px;
}

.search{
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--card-bg);
    padding: 0px 10px;
}

.container-btn-filter{
    display: flex;
    background-color: var(--card-bg);
    justify-content: space-between;
    align-items: center;

    padding: 10px 10px;
    border-radius: 10px;
}

.list-btn-filter{
    display: flex;
    gap: 10px;
}

.btn-activated{
    background-color: var(--btn-color-activated) !important;
    color: white !important;
}

.btn-filter{
    width: 180px;
    height: 50px;
    background-color: var(--btn-color-deactivated);
    color: black;
}

.btn-add-task{
    width: 150px;
    background-color: white;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.container-task{
    background-color: var(--card-bg);
    margin-top: 20px;
    height: 100vh;
    padding: 20px;
    border-radius: 10px;
}

.list-filter{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.filter{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 250px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.container-card-task{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 100%;
    gap: 10px;
}

.card-task{
    background-color: white;
    height: 80px;
    padding: 20px;
    border-radius: 10px;
}