:root{
    --primary-color : #4A1D77;
    --btn-color-activated : #1D771D;
    --btn-color-deactivated: #A9F3A9;
    --background-color : white;
    --card-bg: #EDEDED;
    --color-text: white;
    --color-text-primary: black;
}

.sidebar{
    background-color: var(--primary-color);
    padding: 24px;
    width: 150px;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar li{
    margin-bottom: 15px;
}

.sidebar a{
    color: var(--color-text);
    text-decoration: none;
}

